@{
    ViewData["Title"] = "Последовательность ответов";
}

<h2>Последовательность ответов</h2>

<a asp-controller="Tests" asp-action="Edit" asp-route-courseId="@ViewBag.courseId" asp-route-testId="@ViewBag.testId">Назад</a>
<button type="submit">Сохранить</button>