<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeLavant курсы</title>
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/constants.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/containers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/img-styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/options.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/text-component.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu-animation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu-switch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/radio-button.css" asp-append-version="true" />
</head>

<body>
  
    <header>
        <!-- Блок с логотипом и названием -->
        <div class="logo-container">
            <!-- Изображение-ссылка -->
            <a class="logo-text" asp-controller="Course" asp-action="Index">
                <img class="img-small" src="~/icons/delavant-logo-new.png" />
            </a>
        </div>
      
        <!-- Навигационное меню -->

        @if (User.Identity.IsAuthenticated)
        {
            <div class="hamburger closed">
                <div class="burger-main">
                    <div class="burger-inner">
                        <span class="top"></span>
                        <span class="mid"></span>
                        <span class="bot"></span>
                    </div>
                </div>

                <div class="svg-main">
                    <svg class="svg-circle">
                        <path class="path" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="4"
                            d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2" />
                    </svg>
                </div>
                <div class="path-burger">
                    <div class="animate-path">
                        <div class="path-rotation"></div>
                    </div>
                </div>
            </div>
            @* <ul class="nav-list">
                    <li>
                        <a asp-controller="Accounts" asp-action="Index">Пользователи</a>
                    </li>
                    <li>
                        <a asp-controller="Posts" asp-action="Index">Должность</a>
                    </li>
                    <li>
                        <a asp-controller="Areas" asp-action="Index">Участок</a>
                    </li>
                    <li>
                        <a asp-controller="Course" asp-action="Index">Курсы</a>
                    </li>

                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                            asp-route-returnUrl="@Url.Action("Index", "Accounts", new { area = "" })">
                            <button id="logout" type="submit"
                                class="nav-link btn btn-link text-dark border-0">Выйти</button>
                        </form>
                    </li>
                </ul> *@


        }

    </header>

    <div class="overlay">
            <ul class="admin-menu">        
                <li>
                    <a asp-controller="Course" asp-action="Index">курсы</a>
                </li>
                 <li>
                    <a asp-controller="Accounts" asp-action="Index">участники</a>
                </li>
                  <li>
                    <a>руководство</a> <!-- asp-controller="Course" asp-action="Index" -->
                </li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Accounts", new { area = "" })">
                        <button id="logout" type="submit" class="btn-logout admin-menu a">выйти</button>
                    </form>
                </li>
            </ul>
        </div>
    <div class="main-content">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
