@{
    ViewData["Title"] = "Развернутый ответ";
}

<h2>Развернутый ответ</h2>



<a asp-controller="Tests" asp-action="Edit" asp-route-courseId="@ViewBag.courseId" asp-route-testId="@ViewBag.testId">Назад</a>
<button type="submit">Сохранить</button>