@using DeLavant_CourseWeb.Models.UserBd;
@model DeLavant_CourseWeb.Models.UserBd.RegisterInputViewModel;

<div class="content-70percent-width">
<div>
  <a asp-action="Index">Вернуться назад</a>
</div>

<h1 class="title title-center">Создание участника</h1>

  <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="two-column-container">
      <div class="column left-column">
        <div class="form-group">
          <label asp-for="UserSurName"></label>
          <span asp-validation-for="UserSurName" class="text-danger"></span>
          <input asp-for="UserSurName" />
        </div>

        <div class="form-group">
          <label asp-for="UserName"></label>
          <span asp-validation-for="UserName" class="text-danger"></span>
          <input asp-for="UserName" />
        </div>

        <div class="form-group">
          <label asp-for="UserFatherName"></label>
          <span asp-validation-for="UserFatherName" class="text-danger"></span>
          <input asp-for="UserFatherName" />
        </div>

        <div class="form-group">
          <label asp-for="Email"></label>
          <span asp-validation-for="Email" class="text-danger"></span>

          <input asp-for="Email" />
        </div>

        <div class="form-group">
          <label asp-for="Password"></label>
          <span asp-validation-for="Password" class="text-danger"></span>
          <input asp-for="Password" class="form-control" />
        </div>

        <div class="form-group">
          <label asp-for="ConfirmPassword"></label>
          <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
          <input asp-for="ConfirmPassword" />
        </div>

      </div>

      <div class="column right-column">
        <div class="form-group">
          <label asp-for="SelectedPostIds"></label>
          <span asp-validation-for="SelectedPostIds" class="text-danger"></span>
          <input
            type="text"
            id="search-post"
            placeholder="Поиск должности"
            onkeyup="filterCategories()"
            autocomplete="off"
          />
          <select
            
            asp-for="SelectedPostIds"
            id="post-list"
            asp-items="@((IEnumerable<SelectListItem>)ViewBag.Posts)"
            multiple="multiple"
          ></select>
        </div>

        <div class="form-group">
          <label asp-for="SelectedAreaId"></label>
          <span asp-validation-for="SelectedAreaId" class="text-danger"></span>
          <select
            asp-for="SelectedAreaId"
            asp-items="@(ViewBag.Areas)"
          ></select>
        </div>
        
      </div>
    </div>

    
      <button type="submit" value="" class="btn-add" >
        <span class="with-icon-user-add">создать участника</span>
      </button>
 
  </form>
</div>

