@model List<Course>
@{
    ViewData["Title"] = "Курсы";
}

<div class="content-70percent-width">

<p>Вы прошли курс, ура</p>


<a class="btn btn-outline-primary mt-3" asp-action="Index">На главную</a>

</div>