@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}


<div class="container-welcome">
    <div class="in-container-welcome">
        <div class="content-area">
            @if (Model.Courses != null && Model.Courses.Any())
            {
                foreach (var course in Model.Courses.Take(3))
                {
                    <a class="course-card-welcome">
                        <p>@course.Name</p>
                    </a>
                }
            }
            else
            {
                <p>Нет доступных курсов.</p>
            }
        </div>
        <div class="button-area">
            <button class="btn-red-background">смотреть все</button>
        </div>
    </div>
   
        <div class="in-container-welcome">
             <form id="account" method="post">
            <div class="content-area">
                <img src="~/icons/icon-user.svg" class="img_middle" />
                 <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                        aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
            </div>
            <div class="button-area">
                <button id="login-submit" type="submit" class="btn-red-background">войти</button>
            </div>
            </form>
        </div>
    
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
