.container-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10vh auto;
  padding: 20px;
  box-sizing: border-box;
}

.in-container-welcome {
  height: 23rem;
  width: 23rem;
  background-color: var(--white);
  border: 3px solid var(--secondary-gray);
  border-radius: 3rem;
  display: grid; /* Изменено на grid */
  grid-template-rows: 90% 10%; /* 2 строки: 80% и 20% высоты */
  padding: 2rem;
  flex-shrink: 0;
  overflow: hidden; /* Скрываем выходящие за пределы элементы */
}
.button-area {
  grid-row: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-area {
  grid-row: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.course-card-welcome {
  text-decoration: none;
  width: 100%;
  margin: 5px 0;
  border: 2px solid var(--primary-red);
  border-radius: 1rem;
  text-wrap: wrap;
  font-size: var(--caption);
  color: var(--primary-red);
  height: 5rem;
  overflow: hidden; /* Скрытие переполненного контента */
  text-overflow: ellipsis; /* Добавление многоточия */
  line-height: 1.4; /* Межстрочный интервал */
}

.main-content {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
}
.content-70percent-width {
  margin: 0 auto;
  width: 60%;
  min-width: 700px;
}

.two-column-container {
  display: flex; /* Flex-контейнер */
  gap: 20px; /* Расстояние между колонками */
  width: 100%; /* Ширина по родительскому контейнеру */
  height: auto; /* Автоматическая высота */
}

.column {
  flex: 1; /* Колонки равномерно делят пространство */
  display: flex; /* Для вложенных компонентов */
  flex-direction: column; /* Компоненты внутри колонки вертикально */
  gap: 10px; /* Отступ между компонентами внутри колонки */
}

/* Стили для визуализации (можно изменить/удалить) */
.component {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Опционально: разные цвета для колонок */
.left-column {
  padding: 10px;
}
.right-column {
  padding: 10px;
}

header {
  width: 100%;
  background-color: #808080;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

/* Блок с логотипом и названием */
.logo-container {
  margin-left: 200px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Стили для изображения логотипа */
.logo-img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: #5a5a5a; /* Заглушка для изображения */
}

.logo-img:hover {
  transform: scale(1.05);
}

/* Название сайта */
.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.content-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Расстояние между элементами */
}
.first-top {
  margin: 1rem 0 0 0;
  width: 100%;
  height: 20rem;
  overflow-y: auto;
  border: 2px solid var(--secondary-gray);
  border-radius: 1.5rem;
  padding: 10px;
  box-sizing: border-box;
}

/*уменьшение окна */
@media (max-width: 850px) {
  .container-welcome {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .card-item {
    flex-direction: column-reverse;
  }
}

/* Стилизация скроллбара для WebKit (Chrome, Safari, Edge) */
.first-top::-webkit-scrollbar {
  width: 4px;
}
.first-top::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 2px;
}
.first-top::-webkit-scrollbar-thumb {
  background: var(--secondary-gray);
  border-radius: 2px;
}
.first-top {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-gray) #fff;
}

.card-item {
  margin: 0.5rem 2px;
  padding: 1rem;
  border: 2px solid var(--primary-red);
  border-radius: 1rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card-item-name {
  font-size: var(--text-basic);
  text-wrap: wrap;
  color: var(--primary-red);
  width: 80%;
  word-break: break-all;
}
.card-item-open {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  min-width: 12rem;
  border: none;
  padding: 0.1rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-red);
  font-size: var(--text-basic);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.card-item-open::after {
  content: "";
  background-color: red;
  mask-image: url("../icons/icon-open.svg");
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
  mask-repeat: no-repeat;
  mask-size: contain;
}

.course-element {
  width: 100%; /* Ширина 100% */
  display: flex; /* Элементы внутри расположены в строку */
  gap: 10px; /* Отступы между контейнерами 20px */
  min-height: 3rem; /* Минимальная высота 3rem */
  align-items: center; /* Выравнивание элементов по верхнему краю */
  justify-content: space-between;
  margin-top: 10px;
}

.course-element-info {
  width: 90%; /* Занимает 80% ширины */
  height: auto; /* Высота зависит от компонентов внутри */
  border: 2px solid var(--secondary-red); /* Рамка 1px */
  border-radius: 1rem;
  display: flex;
  flex-direction: column; /* Элементы внутри в колонку */
  padding: 10px; /* Отступы внутри контейнера */
  box-sizing: border-box; /* Учитываем padding в ширине */
  text-decoration: none;
}

.course-element-name {
  width: 100%; /* Занимает 100% ширину */
  border: 2px solid var(--primary-red); /* Рамка 1px */
  border-radius: 0.5rem;
  height: auto; /* Высота увеличивается, если текст не умещается */
  padding: 5px; /* Отступы внутри */
  box-sizing: border-box; /* Учитываем padding в ширине */
  word-wrap: break-word; /* Перенос текста */
  color: var(--primary-red);
  font-size: 1.25rem;
}

.course-element-description {
  width: 100%; /* Занимает 100% ширину */
  height: auto; /* Высота зависит от текста */
  padding: 5px; /* Отступы внутри */
  box-sizing: border-box; /* Учитываем padding в ширине */
  overflow: hidden; /* Обрезаем текст, если не умещается */
  text-overflow: ellipsis; /* Многоточие, если текст не умещается */
  white-space: nowrap; /* Текст в одну строку */
  color: var(--primary-gray);
}

.course-element-delete {
  width: 2rem; /* Ширина 1rem */
  height: 2rem; /* Высота 1rem */
  background-image: url("../icons/icon-delete.svg"); /* Задний фон - изображение */
  background-size: cover; /* Изображение занимает всю область */
  filter: brightness(0.8); /* Применяем цвет к изображению */
}

.course-element-UD {
  width: 2rem; /* Ширина 1rem */
  height: 2rem; /* Высота 1rem */
  background-image: url("../icons/icon-up-down.svg"); /* Задний фон - изображение */
  background-size: cover; /* Изображение занимает всю область */
  filter: brightness(0.8); /* Применяем цвет к изображению */
}

/*для полей которые должны автоматически менять высоту*/
textarea {
  outline: none;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  font-family: var(--base-font);
  width: 100%;
  align-items: center;
  overflow-y: scroll; /* Вертикальная прокрутка */
  resize: vertical; /* Позволяет изменять размер только по вертикали */

  
}
textarea::-webkit-scrollbar {
  display: none;
}


.autoresize {
  resize: none;
  overflow-y: visible;
  overflow-x: hidden;
}
.course-name {
  font-size: 3rem;
  border: 2px solid var(--secondary-red);
  color: var(--primary-red);
  text-align: center;
  min-height: 3rem;
}
.course-name:focus {
  border: 2px solid var(--primary-red);
  box-shadow: 0px 0px 46px 5px rgba(233, 80, 119, 0.2);

  -webkit-box-shadow: 0px 0px 46px 5px rgba(233, 80, 119, 0.2);
  -moz-box-shadow: 0px 0px 46px 5px rgba(233, 80, 119, 0.2);
}

.course-description {
  color: var(--primary-gray);
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  border: 2px solid var(--secondary-gray);
}
.course-description:focus {
  border: 2px solid var(--primary-gray);

  -webkit-box-shadow: 0px 0px 46px 5px rgba(189, 189, 189, 0.2);
  -moz-box-shadow: 0px 0px 46px 5px rgba(189, 189, 189, 0.2);
  box-shadow: 0px 0px 46px 5px rgba(189, 189, 189, 0.2);
}

.row-center
{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  gap: 20px
}