@model DeLavant_CourseWeb.Models.Course
@{
    ViewData["Title"] = "Настройки доступа";
}

<h2>Настройки доступа</h2>

<input type="checkbox" value="Common">Общедоступные</input>
<p></p>
<input type="checkbox" value="Group">Групповые</input>
<p></p>
<input type="checkbox" value="Individual">Индивидульные</input>
<p></p>
<input type="checkbox" value="Hidden">Скрытые</input>
<p></p>
<div>Поиск участников</div>
<input type="text"> </input>