@model DeLavant_CourseWeb.Models.Course
@{
    ViewData["Title"] = "Настройки доступа";
}

<h2>Настройки доступа</h2>
<div>
    <input type="radio" name="accessType" value="Common" checked> Общедоступные<br/>
    <input type="radio" name="accessType" value="Group"> Групповые<br/>
    <input type="radio" name="accessType" value="Individual"> Индивидуальные<br/>
    <input type="radio" name="accessType" value="Hidden"> Скрытые<br/>
</div>

<div id="responseArea"></div>

<form asp-action="Save" asp-controller="Course" method="post">
    <input value="@ViewBag.SelectedId" name="Id" type="hidden"/>
    @* Id: SelectedAccessType не удалять, без него не работает ниче *@
    <input type="hidden" name="SelectedAccessType" id="SelectedAccessType" value="Common" /> <!-- Начальное значение -->
    <button type="submit">Сохранить</button>
</form>