@model List<Course>
@{
    ViewData["Title"] = "Курсы";
}


<div>
    <button class="btn-add">
        <a class="with-icon-add" asp-controller="Course" asp-action="Create">Создать курс</a>
    </button>
</div>

 <div>
          <a href="" class="open-full">Общедоступные</a>
        </div>
<div class="first-top">
    
    @foreach (var course in Model)
    {
        <div class="card-item">
            <span class="card-item-name">
                @course.Name
            </span>
            <a class="card-item-open" asp-action="Edit" asp-route-id="@course.Id">@course.CreatingDate</a>
        </div>

    }
</div>
